* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
}

header {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
}

.height-area {
    position: relative;
    width: 100%;
    height: 100vh;
}

.height-area a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    color: black;
    font-size: 16px;
    text-decoration: none;
    transform: translate(-50%, -50%);
}

.arrow {
    position: absolute;
    width: 100%;
    height: 100%;

    border-right: 1px solid crimson;
    border-bottom: 1px solid crimson;

    transform: rotate(45deg);

    -webkit-animation: animArrows 2s infinite ease;
    animation: animArrows 2s infinite ease;
}

.height-area a > .arrow:nth-child(1) {
    top: 0;
    opacity: 0;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.height-area a > .arrow:nth-child(2) {
    top: 50%;
    opacity: 0.5;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.height-area a > .arrow:nth-child(3) {
    top: 100%;
    opacity: 1;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@keyframes animArrows {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes animArrows {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#form {
    position: relative;
    max-width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10%;
    margin: 10px auto;
    background-color: #f2f2f2;
}

#form > div {
    margin: 10px 0;
}

#form::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;

    width: 25px;
    height: 25px;

    border-left: 5px solid black;
    border-top: 5px solid black;
}

#form::after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -10px;

    width: 25px;
    height: 25px;

    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

.input-city, .input-phone {
    position: relative;
}

.form-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-buttons div {
    padding: 5px;
    border: 1px solid black;
    background: white;
    cursor: pointer;
    transition: transform 0.2s;
}

.form-buttons div:hover {
    color: white;
    background: black;
    transform: scale(1.2);
}

#form > div input {
    width: 100%;
    padding: 5px 10px;
    background: white;
    transition: all 0.2s linear;
}

.found-list {
    position: absolute;
    top: calc(100% + 2px);
    width: 100%;
    background: aliceblue;
    border: thin solid black;
    z-index: 2;
}

.found-list > div.found-item {
    padding: 6px 10px;
    border-bottom: thin solid black;
    cursor: pointer;
}

.found-list > div.found-item:hover {
    background: white;
}

.found-list > div.found-item:last-child {
    border-bottom: 0;
}

#form > div.is-saved {
    margin: 0;
}

.is-saved {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.6);
    color: greenyellow;
    font-size: 25px;
    z-index: 3;
}

.is-saved::after {
    content: "Saved";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}